site_name: Arcalot
repo_url: https://github.com/arcalot/arcalot.github.io
repo_name: arcalot/arcalot.github.io
edit_uri: edit/main/docs/
nav:
  - Home: index.md
  - Arcalog: arcalog/index.md
  - Arcaflow:
      - 'arcaflow/index.md'
      - Concepts:
          - Workflows: arcaflow/concepts/workflows.md
          - The typing system: arcaflow/concepts/typing.md
      - Creating plugins:
          - Python: arcaflow/creating-plugins/python.md
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/arcalot
plugins:
  - search
theme:
  name: material
  logo: arcalot.svg
  favicon: arcalot.svg
  font: false
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: indigo
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - search.suggest
    - search.highlight
    - search.share
extra_css:
  - extra.css
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - markdown.extensions.smarty:
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
